*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: whitesmoke;
}
.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}
.digree-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.digree-box span {
  margin-left: 10px;
  font-size: 30px;
}
.digree-box h2 {
  font-size: 40px;
}
.date {
  width: 490px;
  height: 277px;
  padding-top: 36px;
  border-radius: 35px;
  background-color: rgba(16, 33, 54, 0.59);
  margin: 0 auto;
  color: #fff;
  font-family: Lato;
  font-weight: 400;
  padding-top: 26px;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
}

.thumb {
  height: 300px;
  width: 500px;
}

img {
  height: 300px;
}
