<div class="container">
  <form action="" class="form">
    <input type="text" name="searchQuery">
    <button type="submit" class="btnWeather">search</button>
  </form>
  <div class="location">
    <h1 class="location-timezone">Timezone</h1>

    <canvas id="icon1" width="128" height="128"></canvas>
  </div>
  <div class="temperature">
    <div class="digree-box">
      <h2 class="temperature-degree">20</h2>
      <span>&deg;C</span>
    </div>
    <img class="icon" src="#" alt="weather icon" width="50px" height="50px" />
    <span class="temperature-description">cold</span>
  </div>
  <div class="date-container date">
    <div class="date__day"></div>
    <div class="date__month-time">      
    </div>
    <p class="date__month"></p>
    <p class="date__time"></p>
    <div class="date__sun">
      <div class="date__sunrise">
        <!-- <img class="date__sunrise--icon" src="./img/sunrise.png" alt="" /> -->
        <p class="date__sunrise--time"></p>
      </div>
      <div class="date__sunset">
        <!-- <img class="date__sunset--icon" src="./img/sunset.png" alt="" /> -->
        <p class="date__sunset--time"></p>
      </div>
    </div>
  </div>
</div>
